@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&family=Roboto:wght@300;400;700&display=swap%27');


.bann{
    width:100%;
    height:378px;
    background: linear-gradient(90deg, rgba(40,10,60,1) 0%, rgba(65,30,90,1) 54%, rgba(110,75,135,1) 100%);
    display: flex;
    
}
.imagem-area{
    background: url(../../assets/img/area.png) no-repeat ;
    height: 100%;
    width: 448px;

    
    
    
}


.texto-banner h1{
    font-size: 3em;
    background: -webkit-linear-gradient(left, #D23C28 50%, #FFB200 50%);
    background: linear-gradient(to right, #D23C28 , #FFB200 80%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Dosis', sans-serif;
    display: flex;
    margin-left: 120px;
    margin-top: 40px;
    
    
    
    

    
}
.texto-banner h2{
    color: rgb(255, 255, 255);
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    margin-left: 200px;
    margin-top: 50px;
    
    

}
.texto-banner p{
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    margin-left: 200px;
    margin-top: 30px;
}

.text{
    width: 70%;
    height: 300px;
    background-color: #ffff;
    margin: auto;
    
    

}
.text h1{
    color: #6E4B87;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;  
    margin-top: 50px;
    
}
.texto-in{
    width: 800px;
    height: 180px;
    
}
.texto-in p {
    color: #3F3F3F;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    margin-top: 50px;
    margin-left: 100px;
}
.conhecimento{
    width: 60%;
    height: 150px;
    background-color: #ffff;
    margin: auto;
}
.conhecimento h1{
    color: #6E4B87;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;  
    position: relative;
    margin-bottom: 40px;    
}  
    

.texto-conhecimento{
    width: 800px;
    height: 180px;
}
.conhecimento p{
    color: #2c2b2b;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    
}
.App{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    /*flex-direction: column;*/
    background-color:#fff;
    margin: auto;
  
  }
  
  .swiper-container{
      background-color:#fff;
      height: 100%;
      width: 70%;
      border-radius: 10px;
  }
  
  .slide{
      display: flex;
      justify-content: center;
      align-items: center;
     /* background-color: rgb(233, 232, 232);*/
      
  }
  
  .slide-content{
    background-color:#fff;
    width: 300px;
    height: 200px;
    color: #6E4B87;
   /* margin: auto;*/
   /* border: 2px solid #ddd;*/
    box-shadow:  0px 2px 20px 0px #ddd;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
    padding: 10px;
  }
  
  /*.user-image{
    width: 90px;
    height: 90px;
    background-color: rgba(138, 255, 42, 0.616);
    border-radius: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
  }*/
  
  /*.user-photo{
    border-radius: 45px;
    width: 80px;
  }*/
  
  .user-testimonial{
    font-size: large;
  }
  .btnn {
    border: none;
    color: #fff;
    border-radius: 100px;
    width: 70%;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    -webkit-transition-duration: 0.4s;
    font-size: 20px;
    font-weight: 500px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin: auto;
  }
  
  .btn__gerenciador {
    text-align: center;
    margin-top: 100px;
    background-color: #6E4B87;
    color: #fff(243, 8, 8);
    width: 179px;
    height: 48px;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(184, 184, 184, 1);
    -moz-box-shadow: 2px 2px 5px 0px rgba(184, 184, 184, 1);
    box-shadow: 2px 2px 5px 0px rgba(184, 184, 184, 1);
    
  }
  
  .btn__gerenciador:hover {
    background-color: #5a3d6e;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(184, 184, 184, 1);
    -moz-box-shadow: 2px 2px 5px 0px rgba(184, 184, 184, 1);
    box-shadow: 2px 2px 5px 0px rgba(184, 184, 184, 1);
  }